<!-- neumatic\apps\informes\templates\informes\reportes\mercaderiaporcliente_pdf.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Reporte {% endblock %}

{% block content %}

		<header>
			{% comment %} <img src="{% static 'img/logo_01.png' %}" alt="Logo" style="height: 50px; float: left;"> {% endcomment %}
			
			<img src="{{ logo_url }}" alt="Logo" style="height: 50px; float: left;">
			
			<div style="float: right; text-align: right;">
				{% for param, valor in parametros.items %}
					<!-- <p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p> -->
					<p><strong>{{ param }}:</strong> {{ valor|date:"d/m/Y" }}</p>
				{% endfor %}
			</div>
		</header>
		
		<footer>
			<div style="float: left;">M.A.A.S Soft</div>
			<div class="page-number"><span class="pageNumber"></span></div>
			<div class="fecha-hora" style="float: right;">{{ fecha_hora_reporte }}</div>
		</footer>
		
		<main>
			
			<!-- <div class="compact-line-spacing" style="display: flex; justify-content: space-between; margin-top: 4px; border-bottom: 1px solid #1f0ada; padding-bottom: 6px;"> -->
			<div class="seccion compact-line-spacing">
				<!-- Sección izquierda -->
				<div style="flex: 1; padding-right: 10px;">
					<p><strong>Cliente:</strong></p>
					<p style="font-size: 12px;">[{{ cliente.id_cliente }}] {{ cliente.nombre_cliente }}</p>
				</div>
				
				<!-- Sección derecha -->
				<div style="flex: 1; text-align: right;">
					<h2><i>{{ titulo }}</i></h2>
				</div>
			</div>			
			
			<table>
				<thead>
					<tr>
						<th>Marca</th>
						<th>Medida</th>
						<th>Código</th>
						<th>Descripción</th>
						<th class="numeric">Cantidad</th>
						<th class="numeric">Precio</th>
						<th class="numeric">Desc.</th>
						<th class="numeric">Total</th>
					</tr>
				</thead>
				<tbody>
					
					{% for comprobante_num, productos in objetos.items %}
						<!-- Fila con los datos del comprobante -->
						<tr class="comprobante-row">
							<td colspan="8">
								<strong>{{ productos.0.nombre_comprobante_venta }}</strong> 
								<strong>{{ productos.0.numero }}</strong> 
								<strong>{{ productos.0.fecha_comprobante|date:"d/m/Y" }}</strong> 
							</td>
						</tr>
						<!-- Filas con el detalle del comprobante -->
						{% for producto in productos %}
							<tr class="compact-line-spacing">
								<td>{{ producto.nombre_producto_marca }}</td>
								<td>{{ producto.medida }}</td>
								<td>{{ producto.id_producto_id }}</td>
								<td>{{ producto.nombre_producto }}</td>
								<td class="numeric">{{ producto.cantidad|formato_es_ar }}</td>
								<td class="numeric">{{ producto.precio|formato_es_ar }}</td>
								<td class="numeric">{{ producto.descuento|formato_es_ar }}</td>
								<td class="numeric">{{ producto.total|formato_es_ar }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
					
				</tbody>
			</table>
		</main>
{% endblock content %}