{% extends 'maestro_form.html' %}
{% load static %}
<!-- -------------------------------------------------------------------- -->
{% block maincomponent %}
	{% block principalcomponent %}
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					
					<div class="card border-light mb-3 mt-2">
						<div class="card-header text-white bg-primary opacity-75 d-flex 
									justify-content-between">
							{{ accion }}
							<div class="flex align-items-center">
								<a 
									class="me-2 text-white" 
									data-bs-toggle="modal" 
									data-bs-target="#helpModal" 
									style="cursor: pointer;">
									<i class="bi bi-question-lg"></i></a>
								
								<button type="button" class="btn-close btn-close-white" 
									aria-label="Close"
									onclick="window.location.href='{% url list_view_name %}'">
								</button>
							</div>
						</div>
						
						<div class="card-body bg-body-secondary">
							<form method="post" enctype="multipart/form-data" novalidate>
								{% csrf_token %}
								<div class="accordion" id="accordionPanelsStayOpenExample">
									<!-- Estructura generada -->

									<div class="accordion-item">
										<h2 class="accordion-header">
											<button 
												class="accordion-button py-2 " 
												type="button" 
												data-bs-toggle="collapse" 
												data-bs-target="#Información_General" 
												aria-expanded="true" 
												aria-controls="Información_General">
												<strong>Información General</strong>
											</button>
										</h2>
										<div class="accordion-collapse collapse show"
											id="Información_General">
											<div class="accordion-body bg-secondary-subtle">
		
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.estatus_cliente.label }}
														</label>
														{{ form.estatus_cliente }}
													</div>
						
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.nombre_cliente.label }}
														</label>
														{{ form.nombre_cliente }}
													</div>
						
													<div class="col-md-6">
														<label class="form-label text-primary mb-0">
															{{ form.domicilio_cliente.label }}
														</label>
														{{ form.domicilio_cliente }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.codigo_postal.label }}
														</label>
														{{ form.codigo_postal }}
													</div>
						
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.id_provincia.label }}
														</label>
														{{ form.id_provincia }}
													</div>
						
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.id_localidad.label }}
														</label>
														{{ form.id_localidad }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.tipo_persona.label }}
														</label>
														{{ form.tipo_persona }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.id_tipo_documento_identidad.label }}
														</label>
														{{ form.id_tipo_documento_identidad }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.cuit.label }}
														</label>
														{{ form.cuit }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.id_tipo_iva.label }}
														</label>
														{{ form.id_tipo_iva }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.condicion_venta.label }}
														</label>
														{{ form.condicion_venta }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.telefono_cliente.label }}
														</label>
														{{ form.telefono_cliente }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.fax_cliente.label }}
														</label>
														{{ form.fax_cliente }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.movil_cliente.label }}
														</label>
														{{ form.movil_cliente }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.email_cliente.label }}
														</label>
														{{ form.email_cliente }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.email2_cliente.label }}
														</label>
														{{ form.email2_cliente }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.transporte_cliente.label }}
														</label>
														{{ form.transporte_cliente }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_vendedor.label }}
														</label>
														{{ form.id_vendedor }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.fecha_nacimiento.label }}
														</label>
														{{ form.fecha_nacimiento }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.fecha_alta.label }}
														</label>
														{{ form.fecha_alta }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.sexo.label }}
														</label>
														{{ form.sexo }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_actividad.label }}
														</label>
														{{ form.id_actividad }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_sucursal.label }}
														</label>
														{{ form.id_sucursal }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_percepcion_ib.label }}
														</label>
														{{ form.id_percepcion_ib }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.numero_ib.label }}
														</label>
														{{ form.numero_ib }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.vip.label }}
														</label>
														{{ form.vip }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.mayorista.label }}
														</label>
														{{ form.mayorista }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.sub_cuenta.label }}
														</label>
														{{ form.sub_cuenta }}
													</div>
						
													<div class="col-md-6">
														<label class="form-label text-primary mb-0">
															{{ form.observaciones_cliente.label }}
														</label>
														{{ form.observaciones_cliente }}
													</div>
												</div>
											</div>
										</div>
									</div>
		
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button 
												class="accordion-button py-2 collapsed" 
												type="button" 
												data-bs-toggle="collapse" 
												data-bs-target="#Black_List" 
												aria-expanded="false" 
												aria-controls="Black_List">
												<strong>Black List</strong>
											</button>
										</h2>
										<div class="accordion-collapse collapse "
											id="Black_List">
											<div class="accordion-body bg-secondary-subtle">
		
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.black_list.label }}
														</label>
														{{ form.black_list }}
													</div>
						
													<div class="col-md-5">
														<label class="form-label text-primary mb-0">
															{{ form.black_list_motivo.label }}
														</label>
														{{ form.black_list_motivo }}
													</div>
						
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.black_list_usuario.label }}
														</label>
														{{ form.black_list_usuario }}
													</div>
						
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.fecha_baja.label }}
														</label>
														{{ form.fecha_baja }}
													</div>
												</div>
											</div>
										</div>
									</div>
		
								</div>
								
								<div class="container mt-3">
									<button class="btn btn-primary" type="submit" id="guardarBtn">
										Guardar
									</button>
									<a class="btn btn-secondary" href="{% url list_view_name %}">
										Cancelar
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	{% endblock principalcomponent %}
{% endblock maincomponent %}

{% block script %}
{{ block.super }}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const codigoPostalText = document.getElementById("id_codigo_postal");
		const provinciaSelect = document.getElementById("id_id_provincia");
		const localidadSelect = document.getElementById("id_id_localidad");

		// Validar si se obtuvieron correctamente los elementos
		if (!codigoPostalText) {
			console.log('El elemento con id "id_codigo_postal" no se encontró');
			return;  // Salir si no se encuentra el input
		}

		if (!provinciaSelect) {
			console.log('El elemento con id "id_id_provincia" no se encontró');
			return;  // Salir si no se encuentra el select de provincia
		}
		
		if (!localidadSelect) {
			console.log('El elemento con id "id_id_localidad" no se encontró');
			return;  // Salir si no se encuentra el select de localidad
		}
		
		// Función para resetear el select de localidad y el campo de código postal
		function resetLocalidadSelect(defaultText) {
			localidadSelect.innerHTML = `<option value="">${defaultText}</option>`;
			localidadSelect.disabled = true;
			codigoPostalText.value = "";  // Limpiar el código postal
		}

		// Almacena el código postal de cada localidad
		let localidadesData = {};

		// Agregar un listener para el cambio en el select de provincia
		provinciaSelect.addEventListener("change", function () {
			const provinciaId = this.value;
			const url = "{% url 'filtrar_localidad' %}?id_provincia=" + provinciaId;

			// Resetear localidad y código postal cuando cambia la provincia
			resetLocalidadSelect("Seleccionar Localidad");

			if (provinciaId) {
				fetch(url)
					.then(response => response.json())
					.then(data => {
						localidadSelect.disabled = false;

						// Reiniciar datos de localidad
						localidadesData = {};

						data.localidad.forEach(localidad => {
							// Guardar el código postal para la localidad en un diccionario
							localidadesData[localidad.id_localidad] = localidad.codigo_postal;
							// Crear opción con nombre completo
							const option = new Option(localidad.nombre_completo, localidad.id_localidad);
							localidadSelect.add(option);
						});
					});
			}
		});

		// Listener para actualizar el código postal cuando se selecciona una localidad
		localidadSelect.addEventListener("change", function () {
			const localidadId = this.value;
			
			if (localidadId) {
				// Actualizar el campo de código postal con el valor almacenado
				// alert(localidadesData[localidadId])
				codigoPostalText.value = localidadesData[localidadId] || "";
				//codigoPostalText.value = localidadesData[localidadId] !== undefined ? localidadesData[localidadId] : "";
    
			} else {
				// Limpiar el código postal si no se selecciona ninguna localidad
				// alert("NO cambiando!")
				codigoPostalText.value = "";
			}
		});

		// Despachar el evento 'change' para Provincia al cargar la página
		if (provinciaSelect) {
			// alert("activando el evento chage del select provincia")
			// provinciaSelect.dispatchEvent(new Event("change"));
		}

	});
</script>

{% endblock script %}