{% extends 'maestro_form.html' %}
{% load static %}
<!-- -------------------------------------------------------------------- -->
{% block maincomponent %}
	{% block principalcomponent %}
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					
					<div class="card border-light mb-3 mt-2">
						<div class="card-header text-white bg-primary opacity-75 d-flex 
									justify-content-between">
							{{ accion }}
							<div class="flex align-items-center">
								<a 
									class="me-2 text-white" 
									data-bs-toggle="modal" 
									data-bs-target="#helpModal" 
									style="cursor: pointer;">
									<i class="bi bi-question-lg"></i></a>
								
								<button type="button" class="btn-close btn-close-white" 
									aria-label="Close"
									onclick="window.location.href='{% url list_view_name %}'">
								</button>
							</div>
						</div>
						
						<div class="card-body bg-body-secondary">
							<form method="post" enctype="multipart/form-data" novalidate>
								{% csrf_token %}
								<div class="accordion" id="accordionPanelsStayOpenExample">
									<!-- Estructura generada -->
									
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button 
												class="accordion-button py-2 " 
												type="button" 
												data-bs-toggle="collapse" 
												data-bs-target="#Información_Empresa" 
												aria-expanded="true" 
												aria-controls="Información_Empresa">
												<strong>Información Empresa</strong>
											</button>
										</h2>
										<div class="accordion-collapse collapse show"
											id="Información_Empresa">
											<div class="accordion-body bg-secondary-subtle">
												
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.estatus_empresa.label }}
														</label>
														{{ form.estatus_empresa }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.nombre_fiscal.label }}
														</label>
														{{ form.nombre_fiscal }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.nombre_comercial.label }}
														</label>
														{{ form.nombre_comercial }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.domicilio_empresa.label }}
														</label>
														{{ form.domicilio_empresa }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.codigo_postal.label }}
														</label>
														{{ form.codigo_postal }}
													</div>
													
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_provincia.label }}
														</label>
														{{ form.id_provincia }}
													</div>

													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_localidad.label }}
														</label>
														{{ form.id_localidad }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.telefono.label }}
														</label>
														{{ form.telefono }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.email_empresa.label }}
														</label>
														{{ form.email_empresa }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.web_empresa.label }}
														</label>
														{{ form.web_empresa }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.logo_empresa.label }}
														</label>
														{{ form.logo_empresa }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.id_iva.label }}
														</label>
														{{ form.id_iva }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.cuit.label }}
														</label>
														{{ form.cuit }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.ingresos_bruto.label }}
														</label>
														{{ form.ingresos_bruto }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.inicio_actividad.label }}
														</label>
														{{ form.inicio_actividad }}
													</div>
												</div>
												<div class="row">
													<div class="col-md-3">
														<label class="form-label text-primary mb-0">
															{{ form.cbu.label }}
														</label>
														{{ form.cbu }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.cbu_alias.label }}
														</label>
														{{ form.cbu_alias }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.cbu_vence.label }}
														</label>
														{{ form.cbu_vence }}
													</div>
												</div>
												
												<div class="row">
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.ws_archivo_crt.label }}
														</label>
														{{ form.ws_archivo_crt }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.ws_archivo_key.label }}
														</label>
														{{ form.ws_archivo_key }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.ws_vence.label }}
														</label>
														{{ form.ws_vence }}
													</div>
												</div>
												
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.ws_expiracion.label }}
														</label>
														{{ form.ws_expiracion }}
														
														<div class="col-md-2 d-flex align-items-end">
															<!-- Botón para limpiar el campo ws_expiracion -->
															<button type="button" class="btn btn-outline-secondary" onclick="clearWsExpiracion()">
																	Limpiar
															</button>
														</div>
														
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.ws_token.label }}
														</label>
														{{ form.ws_token }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0">
															{{ form.ws_sign.label }}
														</label>
														{{ form.ws_sign }}
													</div>
													
												</div>
												
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.ws_modo.label }}
														</label>
														{{ form.ws_modo }}
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button 
												class="accordion-button py-2 collapsed" 
												type="button" 
												data-bs-toggle="collapse" 
												data-bs-target="#Parámetros" 
												aria-expanded="false" 
												aria-controls="Parámetros">
												<strong>Parámetros</strong>
											</button>
										</h2>
										<div class="accordion-collapse collapse "
											id="Parámetros">
											<div class="accordion-body bg-secondary-subtle">
												
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.interes.label }}
														</label>
														{{ form.interes }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.interes_dolar.label }}
														</label>
														{{ form.interes_dolar }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.cotizacion_dolar.label }}
														</label>
														{{ form.cotizacion_dolar }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.dias_vencimiento.label }}
														</label>
														{{ form.dias_vencimiento }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0">
															{{ form.descuento_maximo.label }}
														</label>
														{{ form.descuento_maximo }}
													</div>
												</div>
											</div>
										</div>
									</div>
								
								</div>
								
								<div class="container mt-3">
									<button class="btn btn-primary" type="submit" id="guardarBtn">
										Guardar
									</button>
									<a class="btn btn-secondary" href="{% url list_view_name %}">
										Cancelar
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	{% endblock principalcomponent %}
{% endblock maincomponent %}

{% block script %}
	{{ block.super }}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
				// Limpiar sessionStorage al cargar la página para evitar mantener datos previos
				sessionStorage.removeItem("provinciaSeleccionada");
				sessionStorage.removeItem("localidadSeleccionada");
				sessionStorage.removeItem("codigoPostalSeleccionado");
			
				const codigoPostalText = document.getElementById("id_codigo_postal");
				const provinciaSelect = document.getElementById("id_id_provincia");
				const localidadSelect = document.getElementById("id_id_localidad");
			
				// Validar si se obtuvieron correctamente los elementos
				if (!codigoPostalText) {
						console.log('El elemento con id "id_codigo_postal" no se encontró');
						return;
				}
				
				if (!provinciaSelect) {
						console.log('El elemento con id "id_id_provincia" no se encontró');
						return;
				}
				
				if (!localidadSelect) {
						console.log('El elemento con id "id_id_localidad" no se encontró');
						return;
				}
				
				// Función para resetear el select de localidad y el campo de código postal
				function resetLocalidadSelect(defaultText) {
						localidadSelect.innerHTML = `<option value="">${defaultText}</option>`;
						localidadSelect.disabled = true;
						codigoPostalText.value = "";  // Limpiar el código postal
				}
				
				// Almacena el código postal de cada localidad
				let localidadesData = {};
				
				// Función para cargar las localidades y seleccionar la correcta
				function cargarLocalidades(provinciaId, localidadSeleccionadaId = null) {
						const url = "{% url 'filtrar_localidad' %}?id_provincia=" + provinciaId;
						
						resetLocalidadSelect("Seleccionar Localidad");
						
						if (provinciaId) {
								fetch(url)
										.then(response => response.json())
										.then(data => {
												localidadSelect.disabled = false;
												localidadesData = {}; // Reiniciar datos de localidad
	
												data.localidad.forEach(localidad => {
														localidadesData[localidad.id_localidad] = localidad.codigo_postal;
														const option = new Option(localidad.nombre_completo, localidad.id_localidad);
														localidadSelect.add(option);
												});
	
												// Si hay una localidad seleccionada (al editar o al volver de la modal)
												if (localidadSeleccionadaId && localidadesData[localidadSeleccionadaId]) {
														localidadSelect.value = localidadSeleccionadaId;
														codigoPostalText.value = localidadesData[localidadSeleccionadaId];
												}
										});
						}
				}
	
				// Escucha el cambio en Provincia y carga las localidades correspondientes
				provinciaSelect.addEventListener("change", function () {
						const provinciaId = this.value;
						
						// Guardar selección de provincia en sessionStorage
						sessionStorage.setItem("provinciaSeleccionada", provinciaId);
						sessionStorage.removeItem("localidadSeleccionada"); // Resetear localidad en sesión
	
						cargarLocalidades(provinciaId);  // Llamar sin localidad seleccionada
				});
	
				// Escucha el cambio en Localidad y actualiza el código postal
				localidadSelect.addEventListener("change", function () {
						const localidadId = this.value;
						if (localidadId) {
								codigoPostalText.value = localidadesData[localidadId] || "";
								
								// Guardar selección de localidad y código postal en sessionStorage
								sessionStorage.setItem("localidadSeleccionada", localidadId);
								sessionStorage.setItem("codigoPostalSeleccionado", codigoPostalText.value);
						} else {
								codigoPostalText.value = "";
								sessionStorage.removeItem("localidadSeleccionada"); // Limpiar localidad de sesión
								sessionStorage.removeItem("codigoPostalSeleccionado"); // Limpiar código postal de sesión
						}
				});
	
				// Detectar valores iniciales (para el caso de actualizar o volver de la modal)
				const provinciaSeleccionada = sessionStorage.getItem("provinciaSeleccionada") || provinciaSelect.value;
				const localidadSeleccionada = sessionStorage.getItem("localidadSeleccionada") || localidadSelect.value;
				const codigoPostalSeleccionado = sessionStorage.getItem("codigoPostalSeleccionado") || codigoPostalText.value;
	
				// Cargar localidades y seleccionar automáticamente la localidad al cargar la página
				if (provinciaSeleccionada) {
						cargarLocalidades(provinciaSeleccionada, localidadSeleccionada);
						codigoPostalText.value = codigoPostalSeleccionado;  // Setear el código postal guardado
				}
		});
	</script>
	
{% endblock script %}