{% extends 'maestro_form.html' %}
{% load static %}

{% block maincomponent %}
	{% block principalcomponent %}
    <div id="layoutSidenav_content">
		<main>
            <div class="container-fluid">
                <div class="card border-light mb-3 mt-2">
                    <div class="card-header text-white bg-primary opacity-75 d-flex 
							justify-content-between">
						{{ accion }}
						<button type="button" class="btn-close btn-close-white" 
							aria-label="Close"
							onclick="window.location.href='{% url list_view_name %}'">
						</button>
					</div>
                    
                    <div class="card-body bg-body-secondary">
                        <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <!-- Estructura generada -->
                                
                                <!-- Información Personal Inicio -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button aria-controls="Información_Personal" aria-expanded="true" class="accordion-button" data-bs-target="#Información_Personal" data-bs-toggle="collapse" type="button">
                                            <strong>
                                                Información Empresa
                                            </strong>
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse show" id="Información_Personal">
                                        <div class="accordion-body bg-secondary-subtle">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.estatus_empresa.id_for_label }}">
                                                        {{ form.estatus_empresa.label_tag }}
                                                    </label>
                                                    {{ form.estatus_empresa}}
                                                    <div class="invalid-feedback">
                                                        {{ form.estatus_empresa.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.nombre_fiscal.id_for_label }}">
                                                        {{ form.nombre_fiscal.label_tag }}
                                                    </label>
                                                    {{ form.nombre_fiscal}}
                                                    <div class="invalid-feedback">
                                                        {{ form.nombre_fiscal.errors }}
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.nombre_comercial.id_for_label }}">
                                                        {{ form.nombre_comercial.label_tag }}
                                                    </label>
                                                    {{ form.nombre_comercial}}
                                                    <div class="invalid-feedback">
                                                        {{ form.nombre_comercial.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.domicilio_empresa.id_for_label }}">
                                                        {{ form.domicilio_empresa.label_tag }}
                                                    </label>
                                                    {{ form.domicilio_empresa}}
                                                    <div class="invalid-feedback">
                                                        {{ form.domicilio_empresa.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.codigo_postal.id_for_label }}">
                                                        {{ form.codigo_postal.label_tag }}
                                                    </label>
                                                    {{ form.codigo_postal}}
                                                    <div class="invalid-feedback">
                                                        {{ form.codigo_postal.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.id_localidad.id_for_label }}">
                                                        {{ form.id_localidad.label_tag }}
                                                    </label>
                                                    {{ form.id_localidad}}
                                                    <div class="invalid-feedback">
                                                        {{ form.id_localidad.errors }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.id_provincia.id_for_label}}">
                                                        {{ form.id_provincia.label_tag }}
                                                    </label>
                                                    {{ form.id_provincia}}
                                                    <div class="invalid-feedback">
                                                        {{ form.id_provincia }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.iva.id_for_label}}">
                                                        {{ form.iva.label_tag }}
                                                    </label>
                                                    {{ form.iva}}
                                                    <div class="invalid-feedback">
                                                        {{ form.iva.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.cuit.id_for_label}}">
                                                        {{ form.cuit.label_tag }}
                                                    </label>
                                                    {{ form.cuit}}
                                                    <div class="invalid-feedback">
                                                        {{ form.cuit.errors }}
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ingresos_bruto.id_for_label}}">
                                                        {{ form.ingresos_bruto.label_tag }}
                                                    </label>
                                                    {{ form.ingresos_bruto}}
                                                    <div class="invalid-feedback">
                                                        {{ form.ingresos_bruto.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.inicio_actividad.id_for_label}}">
                                                        {{ form.inicio_actividad.label_tag }}
                                                    </label>
                                                    {{ form.inicio_actividad}}
                                                    <div class="invalid-feedback">
                                                        {{ form.inicio_actividad.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.cbu.id_for_label}}">
                                                        {{ form.cbu.label_tag }}
                                                    </label>
                                                    {{ form.cbu}}
                                                    <div class="invalid-feedback">
                                                        {{ form.cbu.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.cbu_alias.id_for_label}}">
                                                        {{ form.cbu_alias.label_tag }}
                                                    </label>
                                                    {{ form.cbu_alias}}
                                                    <div class="invalid-feedback">
                                                        {{ form.cbu_alias.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.cbu_vence.id_for_label}}">
                                                        {{ form.cbu_vence.label_tag }}
                                                    </label>
                                                    {{ form.cbu_vence}}
                                                    <div class="invalid-feedback">
                                                        {{ form.cbu_vence.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.telefono.id_for_label}}">
                                                        {{ form.telefono.label_tag }}
                                                    </label>
                                                    {{ form.telefono}}
                                                    <div class="invalid-feedback">
                                                        {{ form.telefono.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <label class="form-label text-primary mb-0" for="{{ form.email_empresa.id_for_label}}">
                                                        {{ form.email_empresa.label_tag }}
                                                    </label>
                                                    {{ form.email_empresa}}
                                                    <div class="invalid-feedback">
                                                        {{ form.email_empresa.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <label class="form-label text-primary mb-0" for="{{ form.web_empresa.id_for_label}}">
                                                        {{ form.web_empresa.label_tag }}
                                                    </label>
                                                    {{ form.web_empresa}}
                                                    <div class="invalid-feedback">
                                                        {{ form.web_empresa.errors }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.logo_empresa.id_for_label}}">
                                                        {{form.logo_empresa.label_tag }}
                                                    </label>
                                                    {{form.logo_empresa}}
                                                    <div class="invalid-feedback">
                                                        {{form.logo_empresa.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_archivo_crt.id_for_label}}">
                                                        {{form.ws_archivo_crt.label_tag }}
                                                    </label>
                                                    {{form.ws_archivo_crt}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_archivo_crt.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_archivo_key.id_for_label}}">
                                                        {{form.ws_archivo_key.label_tag }}
                                                    </label>
                                                    {{form.ws_archivo_key}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_archivo_key.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_token.id_for_label}}">
                                                        {{form.ws_token.label_tag }}
                                                    </label>
                                                    {{form.ws_token}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_token.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_sign.id_for_label}}">
                                                        {{form.ws_sign.label_tag }}
                                                    </label>
                                                    {{form.ws_sign}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_sign.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_expiracion.id_for_label}}">
                                                        {{form.ws_expiracion.label_tag }}
                                                    </label>
                                                    {{form.ws_expiracion}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_expiracion.errors }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_modo.id_for_label}}">
                                                        {{form.ws_modo.label_tag }}
                                                    </label>
                                                    {{form.ws_modo}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_modo.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.ws_vence.id_for_label}}">
                                                        {{form.ws_vence.label_tag }}
                                                    </label>
                                                    {{form.ws_vence}}
                                                    <div class="invalid-feedback">
                                                        {{form.ws_vence.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="container mt-3">
                                <button class="btn btn-primary" type="submit" id="guardarBtn">
                                    Guardar
                                </button>
                                <a class="btn btn-secondary" href="{% url list_view_name %}">
                                    Cancelar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% endblock principalcomponent %}
{% endblock maincomponent %}