<!-- templates\sidebar.html -->
<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-blue" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Core</div>
				
				<a class="nav-link" href="{% url 'home' %}">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Panel
				</a>
				
				<div class="sb-sidenav-menu-heading">Ventas</div>
				
				<!-- Archivos Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Archivos
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				
				<div class="collapse" id="collapseFiles" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseCatalogos" aria-expanded="false" aria-controls="pagesCollapseCatalogos">
							Catálogos
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseCatalogos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'cliente_list' %}">Clientes</a>
								<a class="nav-link" href="{% url 'proveedor_list' %}">Proveedores</a>
								<a class="nav-link" href="{% url 'producto_list' %}">Productos</a>
								<a class="nav-link" href="{% url 'vendedor_list' %}">Vendedores</a>
								<a class="nav-link" href="{% url 'empresa_list' %}">Empresa</a>
								<a class="nav-link" href="{% url 'sucursal_list' %}">Sucursales</a>
								<a class="nav-link" href="{% url 'numero_list' %}">Números</a>
							</nav>
						</div>
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseTablas" aria-expanded="false" aria-controls="pagesCollapseTablas">
							Tablas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseTablas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'actividad_list' %}">Actividad</a>
								<a class="nav-link" href="{% url 'producto_deposito_list' %}">Prod. Depósito</a>
								<a class="nav-link" href="{% url 'producto_familia_list' %}">Prod. Familia</a>
								<a class="nav-link" href="{% url 'producto_marca_list' %}">Prod. Marca</a>
								<a class="nav-link" href="{% url 'producto_modelo_list' %}">Prod. Modelo</a>
								<a class="nav-link" href="{% url 'producto_cai_list' %}">Prod. CAI</a>
								<a class="nav-link" href="{% url 'producto_estado_list' %}">Prod. Estado</a>
								<a class="nav-link" href="{% url 'medidas_estados_list' %}">Estados de Productos por Medidas</a>
								<a class="nav-link" href="{% url 'comprobante_venta_list' %}">Comp. Venta</a>
								<a class="nav-link" href="{% url 'comprobante_compra_list' %}">Comp. Compra</a>
								<a class="nav-link" href="{% url 'moneda_list' %}">Moneda</a>
								<a class="nav-link" href="{% url 'provincia_list' %}">Provincia</a>
								<a class="nav-link" href="{% url 'localidad_list' %}">Localidad</a>
								<a class="nav-link" href="{% url 'tipo_documento_identidad_list' %}">Tipo Documento</a>
								<a class="nav-link" href="{% url 'tipo_iva_list' %}">Tipo IVA</a>
								<a class="nav-link" href="{% url 'alicuota_iva_list' %}">Alícuotas IVA</a>
								<a class="nav-link" href="{% url 'tipo_percepcion_ib_list' %}">Tipo Percepción</a>
								<a class="nav-link" href="{% url 'tipo_retencion_ib_list' %}">Tipo Retención</a>
								<a class="nav-link" href="{% url 'operario_list' %}">Operario</a>
								<a class="nav-link" href="{% url 'medio_pago_list' %}">Medio de Pago</a>
								<a class="nav-link" href="{% url 'punto_venta_list' %}">Puntos de Venta</a>
								<a class="nav-link" href="{% url 'banco_list' %}">Bancos</a>
								<a class="nav-link" href="{% url 'cuenta_banco_list' %}">Cuentas de Bancos</a>
								<a class="nav-link" href="{% url 'tarjeta_list' %}">Tarjeta</a>
								<a class="nav-link" href="{% url 'codigo_retencion_list' %}">Códigos de Retención</a>
								<a class="nav-link" href="{% url 'concepto_banco_list' %}">Conceptos de Bancos</a>
								<a class="nav-link" href="{% url 'marketing_origen_list' %}">Marketins Origen</a>
							</nav>
						</div>
					</nav>
				</div>
				<!-- Archivos End -->
				
				<!-- Procesos Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProcesses" aria-expanded="false" aria-controls="collapseProcesses">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Procesos
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				
				<div class="collapse" id="collapseProcesses" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseVentas" aria-expanded="false" aria-controls="pagesCollapseVentas">
							Ventas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseVentas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'factura_list' %}">Comprobante Electrónico</a>
								<a class="nav-link" href="{% url 'factura_manual_list' %}">Comprobante Manual</a>
								<a class="nav-link" href="{% url 'recibo_list' %}">Recibo</a>
								<a class="nav-link" href="{% url 'presupuesto_list' %}">Presupuesto</a>
								<a class="nav-link" href="{% url 'movimiento_interno_list' %}">Movimiento Interno</a>
							</nav>
						</div>
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseCompras" aria-expanded="false" aria-controls="pagesCollapseCompras">
							Compras
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseCompras" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'compra_list' %}">Compra - Remitos</a>
								<a class="nav-link" href="{% url 'compra_otros_list' %}">Compra - Otros</a>
							</nav>
						</div>
					
					</nav>
				</div>
				<!-- Procesos End -->
				
				<!-- Informes Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReports" aria-expanded="false" aria-controls="collapseReports">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Informes
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				
				<div class="collapse" id="collapseReports" aria-labelledby="headingReports" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionReports">
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reportsCollapseCatalogos" aria-expanded="false" aria-controls="reportsCollapseCatalogos">
							Catálogos
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="reportsCollapseCatalogos" aria-labelledby="headingReportsCatalogos" data-bs-parent="#sidenavAccordionReports">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'cliente_informe_list' %}">Clientes</a>
								<a class="nav-link" href="{% url 'proveedor_informe_list' %}">Proveedores</a>
								<a class="nav-link" href="{% url 'producto_informe_list' %}">Productos</a>
								<a class="nav-link" href="{% url 'vendedor_informe_list' %}">Vendedores</a>
								<a class="nav-link" href="#">Empresa</a>
								<a class="nav-link" href={% url 'sucursal_informe_list' %}>Sucursales</a>
								<a class="nav-link" href="#">Parámetros</a>
								<a class="nav-link" href="#">Números</a>
							</nav>
						</div>
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reportsCollapseTablas" aria-expanded="false" aria-controls="reportsCollapseTablas">
							Tablas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="reportsCollapseTablas" aria-labelledby="headingReportsTablas" data-bs-parent="#sidenavAccordionReports">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'actividad_informe_list' %}">Actividades</a>
								<a class="nav-link" href="{% url 'productodeposito_informe_list' %}">Prod. Depósito</a>
								<a class="nav-link" href="{% url 'productofamilia_informe_list' %}">Prod. Familia</a>
								<a class="nav-link" href="{% url 'productomarca_informe_list' %}">Prod. Marca</a>
								<a class="nav-link" href="{% url 'productomodelo_informe_list' %}">Prod. Modelo</a>
								<a class="nav-link" href="{% url 'productocai_informe_list' %}">Prod. CAI</a>
								<a class="nav-link" href="{% url 'productoestado_informe_list' %}">Prod. Estado</a>
								<a class="nav-link" href="{% url 'comprobanteventa_informe_list' %}">Comp. Venta</a>
								<a class="nav-link" href="{% url 'comprobantecompra_informe_list' %}">Comp. Compra</a>
								<a class="nav-link" href="{% url 'moneda_informe_list' %}">Monedas</a>
								<a class="nav-link" href="{% url 'provincia_informe_list' %}">Provincias</a>
								<a class="nav-link" href="{% url 'localidad_informe_list' %}">Localidades</a>
								<a class="nav-link" href="{% url 'tipodocumentoidentidad_informe_list' %}">Tipos Documento</a>
								<a class="nav-link" href="{% url 'tipoiva_informe_list' %}">Tipos Iva</a>
								<a class="nav-link" href="{% url 'alicuotaiva_informe_list' %}">Alícuotas Iva</a>
								<a class="nav-link" href="{% url 'tipopercepcionib_informe_list' %}">Tipos Percepción</a>
								<a class="nav-link" href="{% url 'tiporetencionib_informe_list' %}">Tipos Retención</a>
								<a class="nav-link" href="{% url 'operario_informe_list' %}">Operarios</a>
								<a class="nav-link" href="{% url 'mediopago_informe_list' %}">Medios de Pago</a>
								<a class="nav-link" href="{% url 'puntoventa_informe_list' %}">Puntos de Venta</a>
								<a class="nav-link" href="{% url 'banco_informe_list' %}">Bancos</a>
								<a class="nav-link" href="{% url 'cuentabanco_informe_list' %}">Cuentas de Bancos</a>
								<a class="nav-link" href="{% url 'tarjeta_informe_list' %}">Tarjetas</a>
								<a class="nav-link" href="{% url 'codigoretencion_informe_list' %}">Códigos de Retención</a>
								<a class="nav-link" href="{% url 'conceptobanco_informe_list' %}">Conceptos de Banco</a>
								<a class="nav-link" href="{% url 'marketingorigen_informe_list' %}">Marketing Origen</a>
							</nav>
						</div>
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reportsCollapseProcesos" aria-expanded="false" aria-controls="reportsCollapseProcesos">
							Procesos
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="reportsCollapseProcesos" aria-labelledby="headingReportsTablas" data-bs-parent="#sidenavAccordionReports">
							<nav class="sb-sidenav-menu-nested nav">
								<!-- Informes - Ventas -->
								<a class="nav-link" href="{% url 'vlsaldosclientes_informe_list' %}">Saldos de Clientes</a>
								<a class="nav-link" href="{% url 'vlresumenctacte_informe_list' %}">Resumen de Cuenta Corriente</a>
								<a class="nav-link" href="{% url 'vlmercaderiaporcliente_informe_list' %}">Mercadería por Cliente</a>
								<a class="nav-link" href="{% url 'vlremitosclientes_informe_list' %}">Remitos por Cliente</a>
								<a class="nav-link" href="{% url 'vltotalremitosclientes_informe_list' %}">Totales de Remitos por Cliente</a>
								<a class="nav-link" href="{% url 'vlventacomprolocalidad_informe_list' %}">Comprobantes de Ventas por Localidad</a>
								<a class="nav-link" href="{% url 'vlventamostrador_informe_list' %}">Ventas por Mostrador</a>
								<a class="nav-link" href="{% url 'vlventacompro_informe_list' %}">Total de Ventas por Comprobantes</a>
								<a class="nav-link" href="{% url 'vlcomprobantesvencidos_informe_list' %}">Comprobantes Vencidos</a>
								<a class="nav-link" href="{% url 'vlremitospendientes_informe_list' %}">Remitos Pendientes</a>
								<a class="nav-link" href="{% url 'vlremitosvendedor_informe_list' %}">Remitos por Vendedor</a>
								
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseIvaVentas" aria-expanded="false" aria-controls="collapseIvaVentas">
									Libro I.V.A. Ventas
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="collapseIvaVentas" data-bs-parent="#reportsCollapseTablas">
									<nav class="sb-sidenav-menu-nested nav">
										 <a class="nav-link" href="{% url 'vlivaventasfull_informe_list' %}">Detalle</a>
										 <a class="nav-link" href="{% url 'vlivaventasprovincias_informe_list' %}">Totales por Provincia</a>
										 <a class="nav-link" href="{% url 'vlivaventassitrib_informe_list' %}">Totales para SITRIB</a>
									</nav>
								</div>
								
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePercepVendedor" aria-expanded="false" aria-controls="collapsePercepVendedor">
									Percepciones por Vendedor
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="collapsePercepVendedor" data-bs-parent="#reportsCollapseTablas">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="{% url 'vlpercepibvendedortotales_informe_list' %}">Vendedores - Solo Totales</a>
										<a class="nav-link" href="{% url 'vlpercepibvendedordetallado_informe_list' %}">Vendedores - Detallado por Comprobantes</a>
										<a class="nav-link" href="{% url 'vlpercepibsubcuentatotales_informe_list' %}">Sub Cuentas - Solo Totales</a>
										<a class="nav-link" href="{% url 'vlpercepibsubcuentadetallado_informe_list' %}">Sub Cuentas - Detallado por Comprobantes</a>
									</nav>
								</div>
								
								<a class="nav-link" href="{% url 'vlcomisionvendedor_informe_list' %}">Comisiones a Vendedores según Facturas</a>
								<a class="nav-link" href="{% url 'vlcomisionoperario_informe_list' %}">Comisiones a Operarios</a>
								<a class="nav-link" href="{% url 'vlpreciodiferente_informe_list' %}">Diferencias de Precios en Facturación</a>
								<a class="nav-link" href="{% url 'vlventasresumenib_informe_list' %}">Resumen de Ventas I. Brutos Mercadolibre</a>
								
								<!-- Informes - Stock -->
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStock" aria-expanded="false" aria-controls="collapseStock">
									Stock
									<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
								</a>
								<div class="collapse" id="collapseStock" data-bs-parent="#reportsCollapseTablas">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="{% url 'vllista_informe_list' %}">Lista de Precios</a>
										<a class="nav-link" href="{% url 'vllistarevendedor_informe_list' %}">Lista de Precios a Revendedores</a>
										<a class="nav-link" href="{% url 'vlstocksucursal_informe_list' %}">Listado de Stock por Sucursal</a>
										<a class="nav-link" href="{% url 'vlstockgeneralsucursal_informe_list' %}">Stock General por Sucursal</a>
										{% comment %} <a class="nav-link" href="{% url 'vlstockfecha_informe_list' %}">Listado de Stock a Fecha</a> {% endcomment %}
										<a class="nav-link" href="{% url 'vlstockunico_informe_list' %}">Listado de Stock Único</a>
										<a class="nav-link" href="{% url 'vlreposicionstock_informe_list' %}">Reposición de Stock</a>
									</nav>
								</div>
								
								
							</nav>
						</div>
						
					</nav>
				</div>
				<!-- Informes End -->
				
				<!-- Opciones Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOpciones" aria-expanded="false" aria-controls="collapseOpciones">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Opciones
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				
				<div class="collapse" id="collapseOpciones" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
						<!--
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseVentas" aria-expanded="false" aria-controls="pagesCollapseVentas">
							Ventas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseVentas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'factura_list' %}">Comprobante Electrónico</a>
								<a class="nav-link" href="{% url 'factura_manual_list' %}">Comprobante Manual</a>
								<a class="nav-link" href="{% url 'recibo_list' %}">Recibo</a>
								<a class="nav-link" href="{% url 'presupuesto_list' %}">Presupuesto</a>
							</nav>
						</div>
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseCompras" aria-expanded="false" aria-controls="pagesCollapseCompras">
							Compras
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseCompras" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="#">Doc. Compra</a>
								<a class="nav-link" href="#">Anular DC</a>
							</nav>
						</div>
						-->
						{% comment %} <a class="nav-link" href="{% url 'cargar_excel_actualizar' %}">Actualizar precios de Productos (Excel)</a> {% endcomment %}
						<a class="nav-link" href="{% url 'cargar_excel' %}?proceso=actualizar">Actualizar Productos (Excel)</a>
						<a class="nav-link" href="{% url 'cargar_excel' %}?proceso=agregar">Agregar nuevos Productos (Excel)</a>
						
					</nav>
				</div>
				<!-- Opciones End -->
				
				<!-- Opciones de Estadísticas Start -->
				<div class="sb-sidenav-menu-heading">Estadísticas</div>
				
				<!-- Ventas Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVentas" aria-expanded="false" aria-controls="collapseVentas">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Ventas
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				
				<div class="collapse" id="collapseVentas" aria-labelledby="headingReports" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionReports">
						<a class="nav-link" href="{% url 'vlestadisticasventas_informe_list' %}">Estadísticas de Ventas</a>
						<a class="nav-link" href="{% url 'vlestadisticasventasvendedor_informe_list' %}">Estadísticas de Ventas Vendedores</a>
						<a class="nav-link" href="{% url 'vlestadisticasventasvendedorcliente_informe_list' %}">Estadísticas de Ventas Vendedores Clientes</a>
						<a class="nav-link" href="{% url 'vlestadisticasseguncondicion_informe_list' %}">Ventas de Productos Según Condición</a>
						<a class="nav-link" href="{% url 'vlestadisticasventasmarca_informe_list' %}">Estadísticas de Ventas por Marca</a>
						<a class="nav-link" href="{% url 'vlestadisticasventasmarcavendedor_informe_list' %}">Estadísticas de Ventas por Marca-Vendedor</a>
						<a class="nav-link" href="{% url 'vlclienteultimaventa_informe_list' %}">Estadísticas de Clientes sin Movimiento</a>
						<a class="nav-link" href="{% url 'vlestadisticasventasprovincia_informe_list' %}">Estadísticas de Ventas por Provincia</a>
						<a class="nav-link" href="{% url 'vlventasinestadistica_informe_list' %}">Comprobantes sin Estadísticas</a>
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTablaDinamica" aria-expanded="false" aria-controls="collapseTablaDinamica">
							Tablas Dinámicas de Ventas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseTablaDinamica" data-bs-parent="#reportsCollapseTablas">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'vltabladinamicaventas_informe_list' %}">Ventas por Comprobantes</a>
								<a class="nav-link" href="{% url 'vltabladinamicadetalleventas_informe_list' %}">Detalle de Ventas por Productos</a>
								<a class="nav-link" href="{% url 'vltabladinamicaestadistica_informe_list' %}">Tablas para Estadísticas</a>
							</nav>
						</div>
						
					</nav>
				</div>
				
				<!-- Opciones de Estadísticas End -->
			</div>
		</div>
	</nav>
</div>
