<!-- neumatic\apps\informes\templates\informes\reportes\base_reportes.html -->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		{% load custom_tags %}
		<title>{% block title %}Reporte{% endblock %}</title>
		<!-- Hoja de estilos común para todos los reportes -->
		{% comment %} <link rel="stylesheet" href="{% static 'css/reportes.css' %}"> {% endcomment %}
		<link rel="stylesheet" href="{{ css_url }}">
	</head>
	<body class="{{ orientation }}">
		{% block content %}{% endblock content %}
	</body>
</html>