<!-- neumatic\apps\informes\templates\informes\reportes\ventacomprolocalidad_pdf.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Reporte {% endblock %}

{% block content %}

		<header>
			{% comment %} <img src="{% static 'img/logo_01.png' %}" alt="Logo" style="height: 50px; float: left;"> {% endcomment %}
			
			<img src="{{ logo_url }}" alt="Logo" style="height: 50px; float: left;">
			
			<div class="compact-line-spacing" style="float: right; text-align: right;">
				{% for param, valor in parametros.items %}
					<!-- <p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p> -->
					{% comment %} <p><strong>{{ param }}:</strong> {{ valor|date:"d/m/Y" }}</p> {% endcomment %}
					<p><strong>{{ param }}:</strong> {{ valor }}</p>
				{% endfor %}
			</div>
		</header>
		
		<footer>
			<div style="float: left;">M.A.A.S Soft</div>
			<div class="page-number"><span class="pageNumber"></span></div>
			<div class="fecha-hora" style="float: right;">{{ fecha_hora_reporte }}</div>
		</footer>
		
		<main>
			
			<!-- <div class="compact-line-spacing" style="display: flex; justify-content: space-between; margin-top: 4px; border-bottom: 1px solid #1f0ada; padding-bottom: 6px;"> -->
			<div class="seccion compact-line-spacing">
				<!-- Sección izquierda -->
				<div style="flex: 1; padding-right: 10px;">
					{% comment %} <p><strong>Cliente:</strong></p>
					<p style="font-size: 12px;">[{{ cliente.id_cliente }}] {{ cliente.nombre_cliente }}</p> {% endcomment %}
				</div>
				
				<!-- Sección derecha -->
				<div style="flex: 1; text-align: right;">
					<h2><i>{{ titulo }}</i></h2>
				</div>
			</div>			
			
			<table>
				
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Comprobante</th>
						<th>Cliente</th>
						<th>Nombre</th>
						<th>Rvta.</th>
						<th>T/P</th>
						<th>Código</th>
						<th>Descripción</th>
						<th class="numeric">Cantidad</th>
						<th class="numeric">Precio</th>
						<th class="numeric">Total</th>
					</tr>
				</thead>
				
				<tbody>
					{% for obj in objetos %}
						<!-- Detecta cuando el comprobante cambia para imprimir los encabezados -->
						{% ifchanged obj.comprobante %}
							<!-- Si el comprobante cambia, imprimir los encabezados -->
							<tr class="compact-line-spacing">
								<td>{{ obj.fecha_comprobante|date:'d/m/Y' }}</td>
								<td>{{ obj.comprobante }}</td>
								<td>{{ obj.id_cliente_id }}</td>
								<td>{{ obj.nombre_cliente }}</td>
								<td>{{ obj.reventa }}</td>
								<td>{{ obj.tipo_producto }}</td>
								<td>{{ obj.id_producto_id }}</td>
								<td>{{ obj.nombre_producto }}</td>
								<td class="numeric">{{ obj.cantidad|formato_es_ar }}</td>
								<td class="numeric">{{ obj.precio|formato_es_ar }}</td>
								<td class="numeric">{{ obj.total|formato_es_ar }}</td>
							</tr>
						{% else %}
							<!-- Si el comprobante no ha cambiado, solo imprimir los detalles -->
							<tr class="compact-line-spacing">
								<td></td> <!-- Vacío para la primera columna (fecha) -->
								<td></td> <!-- Vacío para la segunda columna (comprobante) -->
								<td></td> <!-- Vacío para la tercera columna (cliente) -->
								<td></td> <!-- Vacío para la cuarta columna (nombre) -->
								<td></td> <!-- Vacío para la quinta columna (rvta) -->
								<td>{{ obj.tipo_producto }}</td>
								<td>{{ obj.id_producto_id }}</td>
								<td>{{ obj.nombre_producto }}</td>
								<td class="numeric">{{ obj.cantidad|formato_es_ar }}</td>
								<td class="numeric">{{ obj.precio|formato_es_ar }}</td>
								<td class="numeric">{{ obj.total|formato_es_ar }}</td>
							</tr>
						{% endifchanged %}
					{% endfor %}
					
					<tr class="total-general" style="border-top: 1px solid #000;">
						<td class="numeric" colspan="10"><strong>Total General:</strong></td>
						<td class="numeric"><strong>{{ total_general|formato_es_ar }}</strong></td>
					</tr>
					
				</tbody>
				
			</table>
			
		</main>
{% endblock content %}