<!-- neumatic\apps\informes\templates\informes\reportes\vlresumenctacte_list.html -->

{% extends 'informes/reportes/base_reportes_new.html' %}
{% load static %}
{% load custom_tags %}

<!-- Blque Header -------------------------------------------------------------------------- -->
 
<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	<p><strong>Cliente:</strong></p>
	<p>[{{ cliente.id_cliente }}] {{ cliente.nombre_cliente }}</p>
	<p>{{ cliente.domicilio_cliente }}  Tel. {{ cliente.telefono_cliente }}</p>
	<p>[{{ cliente.codigo_postal }}] {{ cliente.localidad }} - {{ cliente.provincia }}</p>
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Comprobante</th>
				<th>Número</th>
				<th>Fecha</th>
				<th>Remito</th>
				<th>Cond. Venta</th>
				<th class="numeric">Debe</th>
				<th class="numeric">Haber</th>
				<th class="numeric">Saldo</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td class="numeric" colspan="7"><strong>Saldo anterior:</strong></td>
				<td class="numeric"><strong>{{ saldo_anterior|formato_es_ar }}</strong></td>
			</tr>
			{% for obj in objetos %}
				<tr>
					<td>{{ obj.nombre_comprobante_venta }}</td>
					<td>{{ obj.numero }}</td>
					<td>{{ obj.fecha_comprobante|date:"d/m/Y" }}</td>
					<td>{{ obj.remito }}</td>
					
					<!-- <td>{{ obj.condicion }}</td> -->
					<td>
						{% if obj.condicion_comprobante == 1 %}
							Contado
						{% elif obj.condicion_comprobante == 2 %}
							Cta. Cte.
						{% else %}
							Desconocido
						{% endif%}
					</td>
					
					<td class="numeric">{{ obj.debe|formato_es_ar }}</td>
					<td class="numeric">{{ obj.haber|formato_es_ar }}</td>
					<td class="numeric">{{ obj.saldo_acumulado|formato_es_ar }}</td>
				</tr>
			{% endfor %}
			<tr style="border-top: 1px solid #000;">
				<td class="numeric" colspan="7"><strong>Total Intereses:</strong></td>
				<td class="numeric"><strong>{{ intereses_total|formato_es_ar }}</strong></td>
			</tr>
			<tr>
				<td class="numeric" colspan="7"><strong>Total General:</strong></td>
				<td class="numeric"><strong>{{ total_general|formato_es_ar }}</strong></td>
			</tr>
		</tbody>
	</table>
	<p><strong>Observaciones:</strong> {{ observaciones }}</p>
{% endblock content %}