<div class="card">
	<div class="card-header bg-secondary text-white">
		<h5>{{ master_title }}</h5>
	</div>
	
	<div class="card-body">
		<form method="GET" novalidate>
			<!-- Opciones generales de reporte -->
			{% include 'informes/opciones_reporte.html' %}
			
			<div class="row">
				
				<div class="col-md-4">
					{{ form.orden.label }}
					{{ form.orden }}
				</div>
				
				<div class="col-md-4">
					{{ form.desde.label }}
					{{ form.desde }}
				</div>
				
				<div class="col-md-4">
					{{ form.hasta.label }}
					{{ form.hasta }}
				</div>
				
			</div>
			
			<div class="row">
				
				<div class="col-md-4">
					{{ form.estatus.label }}
					{{ form.estatus }}
				</div>
				
			</div>
			
			<!-- Botones de acción -->
			<div class="row mt-3">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Buscar</button>
					<button type="reset" class="btn btn-secondary">Limpiar Filtros</button>
				</div>
			</div>
			
		</form>
		<button class="btn btn-outline-success me-2 mt-3" id="generar">Generar</button>
	</div>
</div>
