/* Configuración global */
@page {
	margin: 1cm;
}

/* Orientación retrato */
body.portrait {
	/* Propiedad específica para WeasyPrint */
	size: A4 portrait;
}

/* Orientación paisaje */
body.landscape {
	/* Propiedad específica para WeasyPrint */
	size: A4 landscape;
}

/* Estilos genéricos */
body {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

/* Header */
body.portrait header {
	height: 100px;
	padding: 10px;
}

body.landscape header {
	height: 80px;
	padding: 10px 20px;
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px 10px;
	border-top: 1px solid #000;
	font-size: 8pt;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-number::before {
	content: "Página " counter(page);
}

/* Main */
body.portrait main {
	margin: 120px 20px 70px 20px;
}

body.landscape main {
	margin: 100px 20px 50px 20px;
}

/* Tablas */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	padding: 5px;
	text-align: center;
}

th {
	background-color: #c9c4c4;
}
